# Database
POSTGRES_USER=medusa
POSTGRES_PASSWORD=medusa
POSTGRES_DB=medusa
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379

# Medusa
MEDUSA_JWT_SECRET=replace_this_with_a_secure_random_value
MEDUSA_ADMIN_CORS="http://localhost:7000"
MEDUSA_STORE_CORS="http://localhost:3000"
